@import "../variables.less";

.splash {
  flex: 1;
  padding-top: 140px;
  padding-left: 56px;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://images.unsplash.com/photo-1523741543316-beb7fc7023d8?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8ZmFybXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80);
  display: none;
  @media @desktop {
    display: block;
  }
}
.splash-text {
  @media @desktop {
    .font-size-xlarge();
  }
  @media @large {
    .font-size-title-medium();
  }
  @media @xlarge {
    .font-size-title-large();
  }
}
.auth-page {
  height: 100vh;
  width: 100vw;
  flex-wrap: nowrap;
  justify-content: center;
}
.auth-card-container {
  min-width: 400px;
  @media @desktop {
    min-width: 500px;
    max-width: 500px;
  }
}
.auth-form-card {
  align-items: center;
  display: flex;
  height: 100%;
  padding: 100px 24px;
  .ant-spin {
    margin-top: 25%;
  }
  .ant-card-body {
    flex: 1;
    display: flex;
    height: 100%;
    flex-direction: column;
    padding-right: 0px;
    padding-left: 0px;
  }
  img {
    margin: auto;
    margin-top: 0;
    margin-bottom: @spacing-small;
    display: block;
  }
  .align-self__end {
    align-self: flex-end;
  }
  .carousel-container {
    width: 350px;
    height: 100%;
    @media @desktop {
      width: 450px;
    }
  }
}
.auth-form-toggle-link {
  margin: 24px 0 0 0;
}
